<!--<div class="brand">LOGOUT</div>
<div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div> -->

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container"><!--container class creates the white boxes that hold our navbar and messages-->
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="index.html">Universal Inbox</a>
    </div><!-- close navbar header-->

    <!-- Navbar options -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Inbox</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div><!--end navbar zoptions-->
  </div><!-- end container (for the navigation bar)-->
</nav>

<div class="container">
  <div class="row well inbox__filters">
    <div class="col-md-6 inbox--filter-buttons inbox__filter-component text-center">
      <span><strong>Filters: </strong></span>
      <div class="btn-group" role="group" aria-label="Filter tasks by completed status">
        <button type="button" class="btn btn-default"
                ng-class="vm.viewCompleted ? '' : 'active'"
                ng-click="vm.viewCompleted = false">New</button>
        <button type="button" class="btn btn-default"
                ng-class="vm.viewCompleted ? 'active' : ''"
                ng-click="vm.viewCompleted = true">Completed</button>
      </div>
      <!--&nbsp;&nbsp;-->
      <!--<div class="btn-group" role="group" aria-label="Filter tasks by source">-->
        <!--<button type="button" class="btn btn-default active">All sources</button>-->
        <!--<button type="button" class="btn btn-default active">Twitter</button>-->
        <!--<button type="button" class="btn btn-default active">Facebook</button>-->
      <!--</div>-->
    </div>
    <div class="col-md-6 inbox--filter-textbox inbox__filter-component text-center">
      <input type="text" class="form-control" ng-model="vm.postsSearch" placeholder="Search">
    </div>
  </div>
  <div class="row">
    <uib-tabset active="active">
      <uib-tab index="0">
        <uib-tab-heading>
          <i class="fa fa-twitter" aria-hidden="true"></i><span class="tabHead"> Twitter</span>
        </uib-tab-heading>
        <div class="col-md-6" ng-repeat="tweet in vm.tweets | orderBy: '-id_str' | filter: vm.matchesCompletedFilter | filter: vm.postsSearch">
          <div class="panel panel-default animated fadeIn" set-height>
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="https://twitter.com/intent/user?user_id={{ tweet.user.id_str }}" target="_blank">
                  {{ tweet.user.name }}
                  <small>@{{ tweet.user.screen_name }}</small>
                </a>
              </h3>
            </div>
            <div class="panel-body">
              <div class="clearfix">
                <span am-time-ago="tweet.created_at | amDateFormat:'dd MMM DD HH:mm:ss ZZ YYYY'"></span>
                <span class="pull-right">
                  <button class="btn btn-primary btn-sm"
                          ng-click="vm.updateCompletedStatus('completed',tweet)"
                          ng-hide="tweet.completedByUser">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Complete
                  </button>
                  <button class="btn btn-primary btn-sm"
                          ng-click="vm.updateCompletedStatus('reopen',tweet)"
                          ng-show="tweet.completedByUser">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Reopen
                  </button>
                </span>
                <div class="clearfix"></div>
              </div>
              <p>
                <a href="https://twitter.com/intent/user?user_id={{ tweet.user.id_str }}" target="_blank">
                  <img src="{{ tweet.user.profile_image_url_https }}" class="img-thumbnail" title="{{ tweet.user.description }}">
                </a>
                {{ tweet.text }}
              </p>
              <form>
                <div class="input-group">
                  <input type="text" ng-model="vm.replyText[$index]" ng-init="vm.replyText[$index] = '@' + tweet.user.screen_name + ' '" class="form-control" placeholder="Tweet..."> 
                    <span class="input-group-btn"> 
                      <a ng-href="https://twitter.com/intent/tweet?in_reply_to={{tweet.id_str}}&text={{vm.replyText[$index]}}" class="btn btn-default">
                      <i class="fa fa-twitter" aria-hidden="true"></i> Tweet</a>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Gmail">
        <uib-tab-heading>
          <img ng-src="../css/images/envelope.ico" id="envelope"/> <span class="tabHead">Gmail</span>
        </uib-tab-heading>
        <div class="col-md-6" ng-repeat="email in vm.emails | filter: vm.matchesCompletedFilter | filter: vm.postsSearch">
          <div class="panel panel-default animated fadeIn" set-height>
            <div class="panel-heading">
              <h3 class="panel-title">
                <a href="https://mail.google.com/mail/u/0/#inbox/{{ email.id }}" target="_blank">
                  {{ email.From }}
                </a>
              </h3>
            </div>
            <div class="panel-body">
              <div class="clearfix">
                <span am-time-ago="email.Date | amDateFormat:'dd MMM DD HH:mm:ss ZZ YYYY'"></span>
                <span class="pull-right">
                  <button class="btn btn-primary btn-sm"
                          ng-click="vm.updateCompletedStatus('completed',email)"
                          ng-hide="email.completedByUser">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Complete
                  </button>
                  <button class="btn btn-primary btn-sm"
                          ng-click="vm.updateCompletedStatus('reopen',email)"
                          ng-show="email.completedByUser">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Reopen
                  </button>
                </span>
                <div class="clearfix"></div>
              </div>
              <div id="subjLine">Subject:   {{ email.Subject }}</div>
              <p>
                <a href="https://mail.google.com/mail/u/0/#inbox/{{ email.id }}" target="_blank">
                  <img src="{{ email.user.profile_image_url_https }}" class="img-thumbnail" title="{{ email.user.description }}">
                </a>
                <span id="snippet">{{ email.snippet }}</div>
              </p>
              <form class="gmailButton">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button ng-click="vm.replyTweet($index)" class="btn btn-default" type="button"></i> Reply</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>

        
  </div>
</div>