<!--<div class="brand">LOGOUT</div>
<div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div> -->

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container"><!--container class creates the white boxes that hold our navbar and messages-->
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <a class="navbar-brand" href="index.html">Universal Inbox</a>
    </div><!-- close navbar header-->

    <!-- Navbar options -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Inbox</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div><!--end navbar zoptions-->
  </div><!-- end container (for the navigation bar)-->
</nav>

<div class="container">
  <div class="row well inbox--filters">
    <div class="col-md-6 inbox--filter-buttons inbox--filter-component text-center">
      <span><strong>Filters: </strong></span>
      <div class="btn-group" role="group" aria-label="Filter tasks by completed status">
        <button type="button" class="btn btn-default"
                ng-class="vm.viewCompleted ? '' : 'active'"
                ng-click="vm.viewCompleted = false">New</button>
        <button type="button" class="btn btn-default"
                ng-class="vm.viewCompleted ? 'active' : ''"
                ng-click="vm.viewCompleted = true">Completed</button>
      </div>
      <!--&nbsp;&nbsp;-->
      <!--<div class="btn-group" role="group" aria-label="Filter tasks by source">-->
        <!--<button type="button" class="btn btn-default active">All sources</button>-->
        <!--<button type="button" class="btn btn-default active">Twitter</button>-->
        <!--<button type="button" class="btn btn-default active">Facebook</button>-->
      <!--</div>-->
    </div>
    <div class="col-md-6 inbox--filter-textbox inbox--filter-component text-center">
      <span><strong>Search: </strong></span>
      <input type="text" class="form-control" ng-model="vm.postsSearch">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" ng-repeat="tweet in vm.tweets | filter: vm.matchesCompletedFilter | filter: vm.postsSearch">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="https://twitter.com/intent/user?user_id={{ tweet.user.id }}" target="_blank">{{ tweet.user.name }} <small>@{{ tweet.user.screen_name }}</small></a>
          </h3>
        </div>
        <div class="panel-body">
          <span am-time-ago="tweet.created_at | amDateFormat:'dd MMM DD HH:mm:ss ZZ YYYY'"></span>
          <p>
            <a href="https://twitter.com/intent/user?user_id={{ tweet.user.id }}" target="_blank">
              <img src="{{ tweet.user.profile_image_url_https }}" class="img-thumbnail" title="{{ tweet.user.description }}">
            </a>
            {{ tweet.text }}
          </p>
          <form>
            <div class="input-group">
              <input type="text" class="form-control" value="@{{ tweet.user.screen_name + ' ' }}" placeholder="Tweet...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Tweet</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
