body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(gray, white);
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: 1.25em;
  line-height: 1.6;
  color: #000;
}

hr {
  max-width: 400px;
  border-color: #999999;
}

.brand,
.address-bar {
  display: none;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}

.navbar-nav {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}

.img-full {
  min-width: 100%;
}

.brand-before,
.brand-name {
  text-transform: capitalize;
}

.brand-before {
  margin: 15px 0;
}

.brand-name {
  margin: 0;
  font-size: 3em;
}

.tagline-divider {
  margin: 15px auto 3px;
  max-width: 250px;
  border-color: #999999;
}

.box, #login {
  /*margin-bottom: 20px;*/
  padding: 30px 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  /*width: 700px;*/
  /*margin-left: 250px;*/
  border-radius: 25px;
}

.intro-text {
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 1px;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.post__user__thumbnail{
  margin-right: 10px;
}

footer {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}

footer p {
  margin: 0;
  padding: 50px 0;
}

@media screen and (min-width: 768px) {
  .brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: normal;
    color: #fff;
  }

  .top-divider {
    margin-top: 0;
  }

  .address-bar {
    display: inherit;
    margin: 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #fff;
  }

  .navbar {
    border-radius: 0;
  }

  .navbar-header {
    display: none;
  }

  .navbar {
    min-height: 0;
  }

  .navbar-default {
    border: none;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
    height: 50px; /*height of navigation bar*/
  }

  .nav > li > a {
    padding: 15px;
  }

  .navbar-nav > li > a {
    line-height: normal;
  }

  .navbar-nav {
    /*display: table;*/
    float: none;
    margin: 0 auto;
    /*table-layout: fixed;*/
    font-size: 1.25em;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 1200px) {
  .box:after {
    content: '';
    display: table;
    clear: both;
  }
}

.brand {
  margin-left: 1100px;
}

.container.regBox, #login {
  margin-top: 200px;
}

input {
  width: 300px;
}

.inbox__filters {
  padding: 0;
  /*margin-bottom: 20px;*/
  /*-webkit-border-radius: 5px;*/
  /*-moz-border-radius: 5px;*/
  /*border-radius: 5px;*/
  /*background-color: #eee;*/
}

.inbox__filter-component{
  margin: 10px 0 10px 0;
  /*border: 1px solid blue;*/
}

.inbox__filters input[type=text]{
  width: 200px;
  display: inline-block;
}

.navbar-right {
  font-size: 1em;
}

.fa-twitter, .fa-twitter-square {
  color: #00aced;
}

.twitter, .twitter .fa-twitter {
  background-color: #00aced;
  color: #fff;
}

.google {
  background-color: #F90101;
  color: #fff;
}
