doctype html
html(lang='en', ng-app='universal-inbox')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - Universal-Inbox
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Slab|Open+Sans')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='../css/animate.min.css')
    link(rel='stylesheet', href='../css/business-casual.css')

  body
    //- include partials/header

    //- .container(ui-view)
    //-   block content
    ui-view
        block content

    //- include partials/footer

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js')
    script(src='//cdn.jsdelivr.net/angular.linkify/1.2.0/angular-linkify.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.6/angular-moment.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js')
    script(src='//platform.twitter.com/widgets.js')
    script(src="//apis.google.com/js/client.js")
    script(src='../app/router.js')
    script(src='../app/utility/logger.js')
    script(src='../app/directives/setHeightEvent.directive.js')
    script(src='../app/services/post.factory.js')
    script(src='../app/services/tweet.factory.js')
    script(src='../app/services/gmail.factory.js')
    script(src='../app/auth.controller.js')
    script(src='../app/main.controller.js')
    script(src='../app.js')
